numpy
scipy
pandas
matplotlib
seaborn
bokeh
pysam
pybedtools
cutadapt
bleach
defusedxml
entrypoints>=0.2.2
jupyter-core
jupyterlab-pygments
mistune<2
nbclient<0.6.0
nbformat>=4.4
pandocfilters>=1.4.1
pygments>=2.4.1
testpath
traitlets>=4.2
bokeh
